desc.xsd

<!--  License: MIT
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="desc">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="targets"/>
        <xs:element type="xs:string" name="entry-point"/>
        <xs:element type="xs:string" name="binary"/>
        <xs:element name="test" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="targets"/>
              <xs:element type="xs:string" name="file-encoding"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
